<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>범위중첩</title>
</head>
<body>

</body>
<script>
    function zeroPad(number, width){
        let string = String(number);
        while (string.length < width){
            string = '0' + string;
        }
        return string;
    }

    function printFarmInventory(cow, chicken, pigs){
        console.log(`${zeroPad(cow, 3)} Cows`)
        console.log(`${zeroPad(chicken, 3)} Chicken`)
        console.log(`${zeroPad(pigs, 3)} Pigs`)
    }
    printFarmInventory(7, 16, 3);
</script>
</html>